<nav class="navbar navbar-light bg-primary ">
    <div class="container">
        <a class="navbar-brand text-light" href="/">INICIO</a>
        
        <a class="btn btn-light" href="/perguntar">Fazer Pergunta</a>
    </div>
</nav>