<nav class="navbar navbar-light bg-primary ">
    <div class="container">
        <a class="navbar-brand text-light" href="/">HOME</a>
        
        <a class="btn btn-light" href="/question">Make a question</a>
    </div>
</nav>