<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <style>
        html, body{
            height: 100%;
            background-color: rgba(0,0,100,.03);
        }

        .container#question{
            height: calc(100% - 60px);
        }

        #question .card{
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    </style>
</head>
<body>
    <%- include('./partials/navbar.ejs') %> 
    <div class="container" id="question">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center p-2">Ask your question.</h2>
            </div>
            <div class="card-body">
                <form method="POST" action="/sending">
                    <label for="title">Question title:</label>
                    <input class="form-control mb-2" type="text" name="title" id="title" required>
        
                    <label for="question">Question: </label>
                    <textarea class="form-control" name="question" id="question" required></textarea>
        
                    <div class="d-flex bd-highlight mt-2">
                        <div class="bd-highlight">
                            <label for="author">Your nickname:</label>
                            <input type="text" id="author" name="author" class="form-control" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary float-end mt-2">Send question</button>
                </form>
            </div>
        </div>
        
    </div>
</body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</html>